<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/degrees/bhikhabhai arts.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <!-- <div class="sub-title">
                        About us
                    </div> -->
                    <h2 class="title purple-color mb-30">
                        HISTORY
                    </h2>
                    <div class="bold-text mb-22"> Shree Bhikhabhai Patel Institute of P.G Studies & Research in Humanities,</div>
                    <p class="desc mb-45">
                         Is managed by Charotar Education Society, Anand, which was established on 16th April, 1916 by the Gem of Charotar Late Shri Motibhai Amin Saheb.
                    </p>
                    <p class="desc mb-45">
                        The Institute was Establishment on 15th June 1995, which widely spread in 7.129423 acers. Institute also Affiliated under the U.G.C Recognition under section 2(f) and 12 (B) and Sardar Patel University, located at Vallabh Vidhyanagar, Gujarat.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

