<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">

        <!-- Contact Section Start -->
        <div class="contact-page-section pt-40 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row rs-contact-box mb-90 md-mb-50">
                    <div class="col-lg-4 col-md-12-4 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-map fa-4x contact-icon-main" aria-hidden="true"></i>

                            </div>
                            <div class="address-text">
                                <span class="label">Address</span>
                                <span class="des">Shree Bhikhabhai Patel Institute of PG Studies in Research and Humanities,     <br>
                                    MB Patel Science Campus, Near Sardar Gunj, Anand.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-envelope fa-4x contact-icon-main" aria-hidden="true"></i>
                            </div>
                            <div class="address-text">
                                <span class="label">Email Address</span>
                                <span class="des">
                                    <a href="mailto:divyesh@itcentre.org">divyesh@itcentre.org</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-phone fa-4x contact-icon-main" aria-hidden="true"></i>

                            </div>
                            <div class="address-text">
                                <span class="label">Phone Number</span>
                                <span class="des"><a href="tel:(02692) - 244043">(02692) - 244043</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 md-mb-30">
                        <!-- Map Section Start -->
                        <div class="contact-map3">

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.716548516267!2d72.96036641476017!3d22.55228848519318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e4e83c3269deb%3A0x7a8ef399802a075f!2sShri%20Bhikhabhai%20Patel%20Arts%20College!5e0!3m2!1sen!2sin!4v1668246114862!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-60 md-pl-15">
                        <div class="contact-comment-box">
                            <div class="inner-part">
                                <h2 class="title mb-mb-15">Get In Touch</h2>
                                <p>We welcome your inputs and suggestions to constantly improve upon the functioning of
                                    the institute. </p>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="name" name="name"
                                                placeholder="Name" required="">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="email" name="email"
                                                placeholder="Email" required="">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="phone" name="phone"
                                                placeholder="Phone" required="">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="subject" name="subject"
                                                placeholder="Subject" required="">
                                        </div>

                                        <div class="col-lg-12 mb-50">
                                            <textarea class="from-control" id="message" name="message"
                                                placeholder=" Message" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input class="btn-send" type="submit" value="Submit Now">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>