<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Bhagvansinh J. Solanki 
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>Warm Greetings to all the aspiring students of Shri Bhikhabhai Patel Institute of P.G Studies & Research in Humanities, managed by
                        Charotar Education Society, reaccredited ‘B’ grade by NAAC, grade and recognized by UGC as
                        college with potential. The college established in 1995 Affiliated to Sardar Patel University
                        (Vallabh Vidhyanagar, Gujarat). The college offers under-graduate courses and also offers post
                        graduate Course. The college provides skill development courses like SCOPE, Drama and Dramatics.
                        The institute facilitates a number of extra- curricular activities like NCC, NSS and Sports.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p> The
                        students are also made aware of their social responsibilities through activities like blood
                        donation, nurturing and planting trees, free eye check-up camps AIDS awareness programmes to
                        state a few.The institutes Alumni Association is vibrant and it is a matter of pride for us for having our
                        students working in reputed offices. The measures initiated by the Management, steps taken by
                        the college administration, the devoted contribution of teaching and non-teaching staff and
                        response and enthusiasm of the students helps to achieve the set goals.</p>
                    <p>I am proud to be the Principal of an institute which is based on Gandhian principles and
                        contributing towards the betterment of the society. Let’s move ahead in this noble cause of
                        teaching and learning through our diligence, devotion and dedication. Wishing you all the Best.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>